<h1>Course Listing</h1>

<% @courses.each do |course| %>
    <p>
        Room number:
        <%= course.room_number %> <br>
        Title:
        <%= course.title %> <br>
        Description:
        <%= course.description %>

<% end %>