<div class="container">
    <h1 class="text-center mt-5 mb-5">Course Listing</h1>
</div>


<%= render "course" %>

<%= link_to "New course", new_course_path %>

<p>
    <%= link_to "Students page", students_path %>
</p>